.btn {
    margin-right: 5px;
}

.markedAsDone {
    text-decoration: line-through;
    color: #777;
}

.tableActions {
    width: 23.7%;
}

.todoForm {
    padding-bottom: 60px;
}

.page-header {
  margin-top: 50px;
}

h2 small {
  display: block;
  opacity: 0.6;
  font-size: 53%;
  padding: 10px 0;
}
